.App { 
  font-family: "Andale Mono", monospace;
  color: #014421;
} 

header .navbar{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
}

header a {
  color: #014421;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.navbar-title {
  display: inline;
  padding-left: 8px;
}

.navbar-item {
  padding: 0px 4px 0px 4px;
}

.navbar-item:hover {
  color: white;
  background-color: #014421;
}

.navbar {
  position: fixed;
  top: 16px;
  width: 100%;
}

.left {
  position: fixed;
  left: 32px;
}

.right {
  position: fixed;
  right: 32px;
  display: flex;
  align-items: center;
}

.right p {
  margin: 0;
}

.welcome {
  text-align: center;
  margin-top: 300px;
}